@font-face {
    font-family: 'MuseoSansCyrlReg';
    src: url("../fonts/MuseoSansCyrl-500.eot");
    src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'MuseoSansCyrlBold';
    src: url("../fonts/MuseoSansCyrl-700.eot");
    src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

$fmain: 'MuseoSansCyrlReg'; 
$fbold:'MuseoSansCyrlBold';
$m: 'Montserrat', sans-serif;
$main_color: #0099da;

body{
    font-family: $fmain;
    padding-left: 100px;
}

.main-menu{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-330px);
    width: 430px;
    height: 100%;
    background: #fff;
    z-index: 1000;
    transition: 0.3s;
    -webkit-box-shadow: 13px 0px 24px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 13px 0px 24px 0px rgba(0,0,0,0.35);
    box-shadow: 13px 0px 24px 0px rgba(0,0,0,0.35);
    padding-right: 100px;
    nav{
        position: relative;
        height: 100vh;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top-side{
            margin-bottom: 37px;
        }
        .menu-text{
            width: 100%;
            background: #6f8f9d;
            padding: 33px 20px 33px 38px;
            .ham-menu{
                border: none;
                background: transparent;
                outline: none;
                display: block;
                padding: 5px 0 5px 55px;
                position: relative;
                font-size: 14px;
                .lines-wrapp{
                    position: absolute;
                    top: 7px;
                    left: 0;
                    width: 37px;
                    display: block;
                    .line{
                        margin-bottom: 5px;
                        display: block;
                        height: 2px;
                        background: #fff;
                        &:last-child{
                            width: 70%;
                        }
                    }
                }
                .text{
                    color: #fff;   
                }
            }
        }
        .first-lvl-menu{
            margin: 0;
            padding: 0;
            list-style: none;
            margin-bottom: 37px;
            .first-lvl-menu-item{
                -webkit-touch-callout: none; 
                -webkit-user-select: none; 
                -khtml-user-select: none; 
                -moz-user-select: none; 
                -ms-user-select: none; 
                user-select: none;
                &.click-open{
                    .first-lvl-menu-link{
                        position: relative;
                        &:after{
                            content: "";
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 20px;
                            width: 9px;
                            height: 9px;
                            background-image: url(../img/arrows-menu.png);
                            transform: translateY(-50%);
                        }
                    }
                }
                .first-lvl-menu-link{
                    display: block;
                     padding: 20px 15px 20px 38px;
                    cursor: pointer;
                    color: #000;
                    font-size: 16px;
                    border-bottom: 1px solid #e8e8e8;
                    
                }
                .second-lvl-menu{
                    display: none;
                    list-style: none;
                    padding-left: 50px;
                    margin: 0;
                    border-bottom: 1px solid #e8e8e8;
                    .second-lvl-menu-item{
                        margin-bottom: 10px;
                        &:first-child{
                            padding-top: 10px;
                        }
                        a{
                            color: #000;
                            font-size: 14px;
                            
                        }
                    }
                }
            }
        }
        .politics{
            display: block;
            padding-left: 38px;
            cursor: pointer;
            font-size: 10px;
            color: #8d8d8d;
           
        }
        .image-menu{
            
            width: 100%;
            margin-bottom: 40px;
            img{
                margin: 0 auto;
            }
        }
        
        
    }
    nav::-webkit-scrollbar {
        background: #fff;
        width: 5px;
    }
    nav::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 2.5px;
        cursor: pointer;
    } 
}
.mask-nav-3.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    -webkit-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
    cursor: pointer;
     
}
.mask-nav-3 {
    
    position: fixed;
    z-index: 502;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    //background-color: #f2f2f2;
    opacity: 0;
    -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    -ms-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.nav-holder-4.is-active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}

button,input{
    outline: none;
    border-radius: 0;
}
button:focus,input:focus{
    outline: none;
}
button{
    cursor: pointer;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;   
}
.main-m-w{
    padding: 0 75px;
    width: 100%;
}
a:hover{
    text-decoration: none;
}
a{
    outline: none;
}
.sec-lvl-1{
    overflow: hidden;
    position: relative;
    min-height: 785px;
    background-image: url(../img/baner-car.jpg);
    background-size: cover;
    background-position: center;
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.3)
    }
    .flex-wrapp{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
        .left-side{
            a{
                font-size: 24px;
                color: #fff;
                font-family: $m;
                font-weight: 700;
                span{
                    color: $main_color;
                }
            }
        }
        .right-side{
            
        }
        
        
        
        
        
    }
    .main-m-w{
        position: relative;
        z-index: 2;
    }
}
