@font-face {
    font-family: 'MuseoSansCyrlReg';
    src: url("../fonts/MuseoSansCyrl-500.eot");
    src: url("../fonts/MuseoSansCyrl-500.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-500.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'MuseoSansCyrlBold';
    src: url("../fonts/MuseoSansCyrl-700.eot");
    src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

$fmain: 'MuseoSansCyrlReg'; 
$fbold:'MuseoSansCyrlBold';
$m: 'Montserrat', sans-serif;
$main_color: #0099da;

body{
    font-family: $fmain;
    padding-left: 100px;
}

.main-menu{
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-330px);
    width: 430px;
    height: 100%;
    background: #fff;
    z-index: 1000;
    transition: 0.3s;
    -webkit-box-shadow: 5px 0px 40px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 5px 0px 40px 0px rgba(0,0,0,0.15);
    box-shadow: 5px 0px 40px 0px rgba(0,0,0,0.15);
    padding-right: 100px;
    .nav-button-1{
        position: absolute;
        border: none;
        background: transparent;
        outline: none;
        display: block;
        top: 27px;
        right: 16px;
        padding: 5px 0 5px 22px;
        font-size: 14px;
        .lines-wrapp{
            position: absolute;
            top: 7px;
            left: 0;
            width: 14px;
            display: block;
            .line{
                margin-bottom: 3px;
                display: block;
                height: 3px;
                background: #000;
                position: relative;
                &:before{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 3px;
                    height: 3px;
                    left: -5px;
                    top: 0;
                    background: #000;
                }
            }
        }
        .text{
            color: #000;
            font-size: 14px;
        }
    }
    nav{
        position: relative;
        height: 100vh;
        overflow: auto;
        background: #fff;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top-side{
            margin-bottom: 37px;
        }
        .menu-text{
            width: 100%;
            background: $main_color;
            padding: 33px 20px 33px 38px;
            position: relative;
            .ham-menu{
                border: none;
                background: transparent;
                outline: none;
                display: block;
                padding: 5px 0 5px 55px;
                position: relative;
                font-size: 14px;
                .lines-wrapp{
                    position: absolute;
                    top: 7px;
                    left: 0;
                    width: 37px;
                    display: block;
                    .line{
                        margin-bottom: 5px;
                        display: block;
                        height: 2px;
                        background: #fff;
                        &:last-child{
                            width: 70%;
                        }
                    }
                }
                .text{
                    color: #fff;   
                }
            }
            .close-modal {
                position: absolute;
                right: 18px;
                top: 50%;
                width: 20px;
                transform: translateY(-50%);
                height: 20px;
                display: block;
                cursor: pointer;
                background: transparent;
                border: none;
                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    top: 6px;
                    left: 0;
                    transform-origin: center;
                    transform: rotate(45deg);
                }
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background: #fff;
                    top: 6px;
                    left: 0;
                    transform-origin: center;
                    transform: rotate(-45deg);
                }
            }
        }
        .first-lvl-menu{
            margin: 0;
            padding: 0;
            list-style: none;
            margin-bottom: 37px;
            .first-lvl-menu-item{
                -webkit-touch-callout: none; 
                -webkit-user-select: none; 
                -khtml-user-select: none; 
                -moz-user-select: none; 
                -ms-user-select: none; 
                user-select: none;
                &.click-open{
                    .first-lvl-menu-link{
                        position: relative;
                        &:after{
                            content: "";
                            display: block;
                            position: absolute;
                            top: 50%;
                            right: 20px;
                            width: 9px;
                            height: 9px;
                            background-image: url(../img/arrows-menu.png);
                            transform: translateY(-50%);
                        }
                    }
                }
                .first-lvl-menu-link{
                    display: block;
                     padding: 20px 15px 20px 38px;
                    cursor: pointer;
                    color: #000;
                    font-size: 16px;
                    border-bottom: 1px solid #e8e8e8;
                    
                }
                .second-lvl-menu{
                    display: none;
                    list-style: none;
                    padding-left: 50px;
                    margin: 0;
                    border-bottom: 1px solid #e8e8e8;
                    .second-lvl-menu-item{
                        margin-bottom: 10px;
                        &:first-child{
                            padding-top: 10px;
                        }
                        a{
                            color: #000;
                            font-size: 14px;
                            
                        }
                    }
                }
            }
        }
        .politics{
            display: block;
            padding-left: 38px;
            cursor: pointer;
            font-size: 10px;
            color: #8d8d8d;
           
        }
        .image-menu{
            
            width: 100%;
            margin-bottom: 40px;
            img{
                margin: 0 auto;
            }
        }
        
        
    }
    nav::-webkit-scrollbar {
        background: #fff;
        width: 5px;
    }
    nav::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 2.5px;
        cursor: pointer;
    } 
}
.mask-nav-3.is-active {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    -webkit-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
    cursor: pointer;
     
}
.mask-nav-3 {
    
    position: fixed;
    z-index: 502;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    //background-color: #f2f2f2;
    opacity: 0;
    -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    -ms-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}
.nav-holder-4.is-active {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
    padding-right: 0;
    .nav-holder-4{
        display: none;
    }
}

button,input{
    outline: none;
    border-radius: 0;
}
button:focus,input:focus{
    outline: none;
}
button{
    cursor: pointer;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;   
}
.main-m-w{
    padding: 0 75px;
    width: 100%;
}
a:hover{
    text-decoration: none;
}
a{
    outline: none;
}
.sec-lvl-1{
    overflow: hidden;
    position: relative;
    min-height: 785px;
    background-image: url(../img/baner-car.jpg);
    background-size: cover;
    margin-bottom: 40px;
    background-position: center;
    .line{
        position: absolute;
        top: 0;
        z-index: 3;
        height: 100%;
        background-color: rgba(255,255,255,0.15);
        width: 1px;
        .img{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
           
            width: 19px;
            height: 118px;
        }
        &.line-1{
            left: 73px;
            .img{
                 bottom: 55px;
            }
        }
        &.line-2{
            left: 20%;
            .img{
                &:first-child{
                  bottom: 200px;  
                }
                &:last-child{
                    bottom: 615px;  
                }
                 
            }
        }
        &.line-3{
            left: 36%;
            .img{
                &:first-child{
                  bottom: 35px;  
                }
                &:last-child{
                    bottom: 535px;  
                }
            }
        }
    }
    &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0,0,0,0.3)
    }
    .flex-wrapp{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0;
        .left-side{
            a{
                font-size: 24px;
                color: #fff;
                font-family: $m;
                font-weight: 700;
                span{
                    color: $main_color;
                }
            }
        }
        .right-side{
            display: flex;
            align-items: center;
            .search-form{
                display: flex;
                align-items: center;
                padding-right: 25px;
                .icon{
                    flex-shrink: 0;
                    width: 45px;
                    height: 45px;
                    margin-right: 12px;
                    border-radius: 50%;
                    background-image: url(../img/loop.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: rgba(0,0,0,0.3);
                }
                input{
                    background: transparent;
                    border: none;
                    font-size: 16px;
                    color: #fff;
                    display: block;
                    width: 155px;
                    &::-webkit-input-placeholder {
                        color: #fff;
                    }
                    &::-moz-placeholder {
                        color: #fff;
                    }
                    &:-moz-placeholder {
                        color: #fff;
                    }
                    &:-ms-input-placeholder {
                        color: #fff;
                    }
                }
                button{
                    background: #0099da;
                    border: none;
                    color: #fff;
                    display: block;
                    padding: 5px 10px;
                    border-radius: 3px;
                    font-size: 14px;
                    opacity: 0;
                    visibility: hidden;
                    transition: 0.3s;
                    &.showed{
                        opacity: 1;
                        visibility: visible;
                    }
                }
                
                
            }
            .contacts{
                position: relative;
                .icon{
                    flex-shrink: 0;
                    width: 45px;
                    height: 45px;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    margin-right: 12px;
                    border-radius: 50%;
                    background-image: url(../img/tel-icon.png);
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: rgba(0,0,0,0.3);
                }
                a{
                    color: #fff;
                    padding-left: 57px;
                    display: block;
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }
    .main-m-w{
        position: relative;
        z-index: 3;
    }
    .baner-text{
        padding-top: 200px;
        .head-baner{
            font-size: 36px;
            color: #fff;
            font-family: $m;
            text-transform: uppercase;
            margin-bottom: 27px;
            font-weight: 700;
            span{
                display: block;
                font-size: 24px;
            }
        }
        .width-50{
            width: 55%;
            p{
                color: #fff;
                font-size: 16px;
            }
            .butt-wrapp{
                display: flex;
                justify-content: flex-end;
                
            }
        }
    }
}
.main-button-style{
    background: #0099da;
    border: none;
    color: #fff;
    display: block;
    padding: 13px 52px;
    border-radius: 3px;
    font-size: 18px;
    transition: 0.3s;
}
.section-style{
    margin-bottom: 40px;
    .head-section{
        font-size: 24px;
        font-family: $m;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 25px;
        span{
            display: block;
            color: $main_color;
        }
    }
    .sentered{
        text-align: center;
        max-width: 950px;
        margin: 0 auto 30px auto;
        font-size: 14px;
        &.less-margin{
            margin-bottom: 10px;
            font-family: $fbold;
        }
    }
    .slider-best-brands{
        .slick-arrow{
            position: absolute;
            font-size: 0;
            width: 40px;
            height: 80px;
            display: block;
            border-radius: 3px;
            background-color: #7f7f7f;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../img/arrow-left-slider.png);
            border: none;
            transition: 0.3s;
            top: 50%;
            transform: translateY(-50%);
            &:hover{
                background-color: $main_color;
            }
            &.slick-prev{
                right:calc(100% + 30px);
            }
            &.slick-next{
                left:calc(100% + 30px);
                transform:  translateY(-50%) rotate(180deg);
                transform-origin: center;
            } 
        }
        .slide{
            padding: 0 7.5px;
            .slide-wrapp{
                background: #f2f3f5;
                padding: 20px 30px;
                cursor: pointer;
                a{
                    display: block;
                    font-family: $m;
                    font-weight: 700;
                    font-size: 18px;
                    color: #000;
                    padding: 15px 0 15px 70px;
                    background-size: 55px;
                    background-repeat: no-repeat;
                    background-position: center left;
                    margin-bottom: 5px;
                    
                    span{
                        font-size: 24px;
                        text-transform: uppercase;
                        color: $main_color;
                    }
                }
                .image-brand{
                    height: 220px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    
                }
                
            }
        }
    }
}
.list-of-brands{
    margin-bottom: 30px;
    ul{
        display: flex;
        margin: 0;
        list-style: none;
        padding: 0;
        flex-wrap: wrap;
        li{
            width: 14.27%;
            padding-right: 10px;
            margin-bottom: 10px;
            a{
                display: block;
                font-size: 16px;
                color: #000;
                background-size: 26px;
                padding-left: 40px;
                background-position: center left;
                background-repeat: no-repeat;
                padding: 3px 0 3px 40px;
                
            }
        }
        
    }
}

.sec-lvl-3{
    padding: 60px 0 0 0;
    margin-bottom: 30px;
    background: #f4f5f7;
    .main-m-w {
        &.column4{
            display: flex;
            flex-wrap: wrap;
            align-items:flex-start;
            justify-content: space-between;
        }
    }
    .one-col-sec-3{
        padding: 0 20px;
        width: 21%;
        margin-bottom: 45px;
        .h{
            font-size: 16px;
            font-family: $fbold;
            padding-left: 90px;
            text-transform: uppercase;
            color: $main_color;
            margin-bottom: 17px;
            position: relative;
            line-height: 18px;
            &:before{
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 23px;
                width: 36px;
                height: 36px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                
            }
            &.h-1{
                &:before{
                    background-image: url(../img/i-1.png);
                }
            }
            &.h-2{
                &:before{
                    background-image: url(../img/i-2.png);
                }
            }
            &.h-3{
                 &:before{
                    background-image: url(../img/i-3.png);
                }
            }
            &.h-4{
                &:before{
                    background-image: url(../img/i-4.png);
                }
            }
            &.h-5{
                &:before{
                    background-image: url(../img/i-5.png);
                }
            }
            &.h-6{
                &:before{
                    background-image: url(../img/i-6.png);
                }
            }
            &.h-7{
                &:before{
                    background-image: url(../img/i-7.png);
                }
            }
            &.h-8{
                 &:before{
                    background-image: url(../img/i-8.png);
                }
            }
        }
        .descr{
            font-size: 12px;
        }
    }
}
.price-section{
    .head-tables{
        font-size: 18px;
        font-family: $m;
        font-weight: 700;
        
    }
    .flex-tables{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .side{
            width: calc(33.33% - 30px);
            margin-bottom: 30px;
            .table-wrapper{
                .row-of-table{
                    padding: 5px 12px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    &:nth-child(odd){
                        background: #f4f5f7;  
                    }
                    p{
                        margin-bottom: 0;
                    }
                    .name{
                        p{
                            font-size: 18px;
                            font-family: $m;
                            font-weight: 700;
                            
                        }
                    }
                    .right-side{
                        width: 66.66%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            padding: 0 10px;
                            font-size: 12px;
                            &.des{
                                width: 66.66%;
                            }
                        }
                        
                    }
                }
            }
            &.other-table{
                .table-wrapper{
                    .row-of-table{
                        &:nth-child(odd){
                            background: #fff;  
                        }
                        .name{
                            p{
                                &.some-text{
                                    font-size: 12px;
                                    color: $main_color;
                                    font-family: $fmain;
                                }
                            }
                        }
                    }
                }
            } 
        }
        
    }
    .button-download{
        margin: 0 auto;
    }
}
.sec-lvl-5{
    background: #f4f5f7;
    padding: 25px 0;
    margin-bottom: 30px;
    .head-sec-5{
        font-size: 22px;
        font-family: $m;
        font-weight: 700;
        margin-bottom: 12px;
    }
    .sec-text{
        font-size: 18px;
        margin-bottom: 25px;
    }
    .flex-couse{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        ul{
            margin: 0;
            list-style: none;
            padding: 0;
            width: calc(66.66% - 30px);
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            justify-content: space-between;
            li{
               width: calc(50% - 30px);
                margin-bottom: 20px;
                background-image: url(../img/arrow-list.png);
                background-repeat: no-repeat;
                padding-left: 21px;
                font-size: 14px;
                background-position: top 6px left; 
            }
        }
        .img{
            width: calc(33.33% - 30px);
        }
    }
}

.portfolio{
    .flex-head-sec-wrapp{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 45px;
        .right-side{
            width: 66.66%;
            display: flex;
            justify-content: space-between;
            
            .more{
                padding: 0 15px;
                display: flex;
                align-items: center;
                .img{
                    margin-right: 20px;
                    flex-shrink: 0;
                    position: relative;
                    top: -3px;
                }
                .descr{
                    font-size: 12px;
                    
                    span{
                        color: $main_color;
                        font-size: 22px;
                    }
                }
            }
            
        }
    }
    .portfolio-slider{
        .slick-arrow{
            position: absolute;
            font-size: 0;
            width: 40px;
            height: 80px;
            display: block;
            border-radius: 3px;
            background-color: #7f7f7f;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url(../img/arrow-left-slider.png);
            border: none;
            transition: 0.3s;
            top: 50%;
            transform: translateY(-50%);
            &:hover{
                background-color: $main_color;
            }
            &.slick-prev{
                right:calc(100% + 30px);
            }
            &.slick-next{
                left:calc(100% + 30px);
                transform:  translateY(-50%) rotate(180deg);
                transform-origin: center;
            } 
        }
        .slick-dots{
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 45px;
           
            li{
                padding: 0 5px;
                button{
                    padding: 0;
                    font-size: 0;
                    width: 10px;
                    height: 10px;
                    display: block;
                    border: none;
                    background: #a0a0a0;
                    transition: 0.3s;
                    border-radius: 2px;
                }
                &.slick-active{
                    button{
                        background: $main_color;
                    }
                }
            }
        }
        .slide{
            outline: none;
            padding: 0 7.5px;
            .flex-slide{
                display: flex;
                .left-side{
                    width: 60%;
                    padding-right: 15px;
                    display: flex;
                    flex-direction: column;
                    .top{
                        width: 100%;
                        margin-bottom: 25px;
                        .name-mark{
                            font-family: $m;
                            font-weight: 700;
                            margin-bottom: 20px;
                        }
                        .name{
                            margin-bottom: 20px;
                        }
                        .msg{
                            text-align: justify;
                        }
                    }
                    .bott{
                        margin-top: auto;
                        width: 100%;
                        .price-wr{
                            max-width: 240px;
                            margin-left: auto;
                            .h-b{
                                margin-bottom: 5px;
                                font-size: 12px;
                                
                            }
                            .price{
                                background: $main_color;
                                font-size: 12px;
                                color: #fff;
                                text-align: center;
                                margin-bottom: 0;
                                    padding: 7px 5px;
                                span{
                                    font-size: 24px;
                                }
                            }
                        }
                    }
                }
                .right-side{
                    width: 40%;
                    background-size: cover;
                    background-position: center;
                    
                }
            }
        }
    }
    
    
    
}
.gray-bg-opp{
    background: #f3f4f6;
    padding: 20px 0;
    
    margin-bottom: 70px;
    
    .main-m-w{
        display: flex;
        align-items: center;
        min-height: 140px;
        .some-logo{
            width: 100%;
            padding: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.wwd-block{
    display: flex;
    padding-top: 50px;
    flex-wrap: wrap;
    align-items: baseline;
    .one-block{
        width: 33.33%;
        display: flex;
        margin-bottom: 60px;
        .m-w-one-block{
            max-width: 450px;
            width: 100%;
            img{
                margin: 0 auto 30px auto;
                max-width: 190px;
            }
            p{
                text-align: center;
                &.head{
                    font-size: 20px;
                    font-family: $m;
                    font-weight: 700;
                    
                }
                &.descr{
                    margin-bottom: 20px;
                    font-size: 12px;
                }
            }
            .main-button-style{
                font-size: 14px;
                margin: 0 auto;
            }
        }
        &:nth-child(3n + 2){
            .m-w-one-block{
                margin: 0 auto;
            }
        }
        &:nth-child(3n){
             .m-w-one-block{
                margin-left: auto;
            }
        }
    }
    
    
}

.form-send-wrapp {
   padding: 30px 0;
    position: relative;
    margin-bottom: 50px;
    .flex-form-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .l-s-flex{
            width: 50%;
            max-width: 560px;
            &:before{
                content: "";
                display: block;
                position: absolute;
                height: calc( 100% - 90px);
                width: 100%;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background: #f4f5f7;
            }
        }
        
        .r-s-flex{
            width: 50%;
            position: relative;
            z-index: 3;
        }
    }
    .buy_form_wrap {
        background-color: #fff;
        -webkit-box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.3);
        width: 100%;
        transition: 0.3s;
        &:hover {
            -webkit-box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 55px 0px rgba(0, 0, 0, 0.1);
        }
        .first-text {
            font-size: 24px;
            text-align: center;
            color: #3e4234;
            font-family: $m;
            padding: 20px 0;
            border-bottom: 1px solid #d7d7d7;
            text-transform: uppercase;
        }
        .for-padding {
            padding: 10px 25px;
            .inputs {
                .for-flex-two {
                    display: flex;
                    .for-w {
                        width: 50%;
                        &:first-child {
                            padding-right: 50px;
                        }
                    }
                }
                input {
                    display: block;
                    width: 100%;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #d7d7d7;
                    padding: 3px 0 3px 23px;
                    background-color: transparent;
                    -webkit-transition: 0.3s;
                    transition: 0.3s;
                    margin-bottom: 15px;
                   color: #000;
                    font-size: 14px;
                    background-repeat: no-repeat;
                    &.name {
                        background-image: url(../img/name-inp-bg.png);
                        background-position: top 6px left 4px;
                    }
                    &.mark-inp {
                        padding-left: 0;
                    }
                    &.tel {
                        font-family: 'Montserrat';
                        font-weight: 900;
                        font-size: 24px;
                        border-bottom: none;
                        color: #000;
                        background-image: url(../img/tel-inp-bg.png);
                        background-position: top 14px left 3px;
                        caret-color: $main_color;
                        margin-bottom: 20px;
                    }
                    &::-webkit-input-placeholder {
                        color: #000;
                    }
                    &::-moz-placeholder {
                        color: #000;
                    }
                    &:-moz-placeholder {
                        color: #000;
                    }
                    &:-ms-input-placeholder {
                        color: #000;
                    }
                }
            }
            textarea {
                display: block;
                resize: none;
                background-color: #fff;
                border: 1px solid #ebebeb;
                height: 60px;
                outline: none;
                padding: 10px;
                font-size: 14px;
                width: 100%;
                margin-bottom: 20px;
                 &::-webkit-input-placeholder {
                    color: #000;
                }
                &::-moz-placeholder {
                    color: #000;
                }
                &:-moz-placeholder {
                    color: #000;
                }
                &:-ms-input-placeholder {
                    color: #000;
                }
            }
            .main-button-style{
                font-size: 14px;
                margin: 0 auto 10px auto;
                max-width: 400px;
                width: 100%;
            }
        }
    }
    .left-side {
        position: relative;
        z-index: 10;
        h6 {
            font-size: 36px;
            
           font-family: $m;
            font-weight: 700;
            margin-bottom: 20px;
        }
        p {
            font-size: 18px;
            font-family: $fbold;
            margin-bottom: 10px;
            span {
                font-size: 16px;
                font-weight: normal;
                display: block;
                font-family: $fmain;
            }
            &.second-text {
                margin-bottom: 30px;
            }
        }
    }
}
.checkbox-wr{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
    .check-style{
        flex-shrink: 0;
        width: 16px;
        margin-right: 12px;
        .checkbox {
            width: 0;
            height: 0;
            display: block;
            position: absolute;
            left: -5000px;
            top: 0;
        }
        label{
            cursor: pointer;
            width: 16px;
            height: 16px;
            border: 3px solid $main_color;
            display: block;
            background: transparent;
            position: relative;
            margin-bottom: 0;
            &:before{
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: 0.2s;
                background: $main_color;
                opacity: 0;
            }
            
        }
        .checkbox:checked + label {
            &:before {
                opacity: 1;
            }
        }
    }
    p{
        font-size: 12px;
        margin-bottom: 0!important;
        text-align: left!important;
        span{
            cursor: pointer;
        }
    }
}
.sec-news{
  margin-bottom: 20px;
    .flex-news{
        display: flex;
        flex-wrap: wrap;
        .one-new-wrapp{
            width: 33.33%;
            padding: 0 15px;
            margin-bottom: 20px;
            .one-new{
                cursor: pointer;
                
                .image{
                    height: 300px;
                    background-size: cover;
                    background-position: center;
                    margin-bottom: 20px;
                }
                a{
                    display: block;
                    text-align: center;
                    color: #000;
                    font-size: 20px;
                    font-family: $m;
                    font-weight: 700;
                    margin-bottom: 20px;
                }
                .small-descr{
                    text-align: center;
                    font-size: 12px;
                    margin-bottom: 25px;
                }
                .main-button-style{
                    font-size: 14px;
                    max-width: 240px;
                    width: 100%;
                    margin: 0 auto;
                }
            }
        }
    }
}
.prefoot-sec{
    margin-bottom: 40px;
    .main-m-w{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .side{
            max-width: 356px;
            width: 100%;
            .for-center-flex{
                display: flex;
                align-items: center;
                img{
                    flex-shrink: 0;
                    margin-right: 20px;
                }
                p{
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }
        }
    }
}
footer{
    .top{
        background: #f9fbfa;
        padding: 45px 0;
        .main-m-w{
            display: flex;
            justify-content: space-between;
            .side{
                width: 33.33%;
                padding: 0 15px;
                max-width: 450px;
            }
            .left-side{
                .head{
                    font-size: 24px;
                    font-family: $m;
                    font-weight: 700;
                    margin-bottom: 35px;
                }
                .second{
                    margin-bottom: 35px;
                    p{
                        margin-bottom: 5px;
                        font-size: 14px;
                        color: #7e7e7e;
                    }
                    .flex-tel{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        a{
                            display: block;
                            font-size: 20px;
                            font-family: $fbold;
                            color: #000;
                        }
                    }
                }
                .where{
                    margin-bottom: 20px;
                    p{
                        font-size: 12px;
                        margin-bottom: 0;
                        &:first-child{
                            font-size: 14px;
                            margin-bottom: 14px;
                            font-family: $m;
                            font-weight: 700;
                        }
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            .mid-side{
                    max-width: 350px;
                display: flex;
                justify-content: space-between;
                .side-of-mid{
                    .head{
                        font-size: 18px;
                        font-family: $fbold;
                        margin-bottom: 30px;
                        
                    }
                    ul{
                        margin: 0;
                        list-style: none;
                        padding: 0;
                        li{
                            margin-bottom: 12px;
                            a{
                                
                                color: #7e7e7e;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .right-side{
                display: flex;
                align-items: center;
                .alighn{
                    width: 100%;
                    .head{
                        font-size: 12px;
                        color: #7e7e7e;
                        margin-bottom: 16px;
                    }
                    form{
                        display: flex;
                        margin-bottom: 40px;
                        input{
                            width: 100%;
                            display: block;
                            background: #fff;
                            font-size: 12px;
                            border: none;
                            padding: 7px 13px;
                            &::-webkit-input-placeholder {
                                color:  #7e7e7e;
                            }
                            &::-moz-placeholder {
                                color: #7e7e7e;
                            }
                            &:-moz-placeholder {
                                color: #7e7e7e;
                            }
                            &:-ms-input-placeholder {
                                 color: #7e7e7e;
                            }
                        }
                        button{
                            flex-shrink: 0;
                            display: block;
                            border: none;
                            width: 115px;
                            color: #fff;
                            background: #6f8f9d;
                            font-size: 12px;
                        }
                        
                    }
                    .some-t{
                        font-size: 14px;
                        color: #969696;
                    }
                }
            }
        }
        
    }
    .bott{
        display: flex;
        justify-content: center;
        padding: 20px 0;
        position: relative;
        .main-m-w{
            position: relative;
            
        }
        img{
            margin: 0 auto;
        }
        .des{
            display: block;
            text-align: center;
            font-size: 10px;
            color: #8d8d8d;
            padding-top: 10px;
            text-transform: uppercase;
        }
        .politics{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 90px;
            display: block;
            cursor: pointer;
            font-size: 10px;
            color: #8d8d8d;
            letter-spacing: 1px;
            z-index: 2;
        }
    }
}
.sec-lvl-1 .flex-wrapp .left-side{
   
    .nav-button-1{
display: none;
    }
}